
header .logo{
  position: relative;
  color: #ff7b00;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
header .navigation a:not(:last-child){
  margin-right: 30px;
}
header .navigation a:hover{
  background: #fff;
}
header .navigation a{
  color: #ff7b00;
  background: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}
header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 2px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*{
  margin: 0;
  margin-bottom: 50px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
background:black;
}

table{
  margin:20px auto;
  text-align:center;
  background:#fff;
  border:4px solid DarkOrange;
  padding:2px;
}
th, td{
  border:2px solid DarkOrange;
  background:#fff;
  color:black;
  cursor:default;
  padding:3px;
  font-size: 40px;
}
td{
  border:2px solid dodgerblue;
  background:#fff;
  color:orange;
  cursor:default;
  padding:3px;
  font-size: 25px;
}
.butonlar{
  cursor:pointer;
  background:red;
  color:white;
  text-align:center;
  outline:none;
  border:none;
  padding:10px 20px;
  font-weight:bolder;
  border-radius:4px;
}
h2 {
    text-align: center;
    font-size: 70px;
    color: #ff7b00;
    letter-spacing: 2px;
    text-decoration: none;
}


