header .logo{
    position: relative;
    color: #ff7b00;
    background-color:#000000 ;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
  
  
  }
  header .navigation a{
    color: #ff7b00;
    background: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    transition: 0.3s;
    font-size: 50px;
    margin-bottom: ;

}
body{
    background-color: #ff7b00;
}
h7{
   text-align: center;
    font-size: 40px;
  }
}